<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="input_nome">Nome</label>
                <input type="text" class="form-control" id="input_nome" [(ngModel)]="input_nome"/>
            </div>
            <div class="form-group">
                <label for="input_descrizione">Cognome</label>
                <input type="text" class="form-control" id="input_descrizione" [(ngModel)]="input_cognome"/>
            </div>
            <div class="form-group">
                <label for="input_descrizione">Data</label>
                <input type="date" class="form-control" id="input_descrizione" [(ngModel)]="input_data"/>
            </div>
            <div class="form-group">
                <label for="input_descrizione">Orario</label>
                <input type="time" class="form-control" id="input_descrizione" [(ngModel)]="input_ora"/>
            </div>

            <button type="button" class="btn" (click)="inserisciPrenotazione()">Inserisci</button>
        </div>
    </div>
</div>