<div class="container">
    <div class="row">
        <div class="col-md-6">
            <table class="table">
                <thead>
                    <th>Codice</th>
                    <th>Nome</th>
                    <th>Cognome</th>
                    <th>Data e ora</th>
                </thead>
                <tbody>
                    <tr *ngFor="let con of elenco">
                        <td>{{con.codice}}</td>
                        <td>{{con.nome}}</td>
                        <td>{{con.cognome}}</td>
                        <td>{{con.dataOra}}</td>

                    </tr> 
                </tbody>
            </table>
        </div>
    </div>
</div>
